.sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
}
     
.mapContainer {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 500px;
    width: 900px;
}

.marker {
    background-image: url('redmarker.png'); 
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }